<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="NeedUpdate" value="False" />
    <add key="SpecificProviders" value="2180" />
  </appSettings>
  <connectionStrings>
    <add name="travelline" connectionString="Data Source=YV1-DBTL;Initial Catalog=travelline;Network Library=dbmssocn;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="travelline" connectionString="Data Source=DEVSQL;Initial Catalog=travelline_spiridonov;Network Library=dbmssocn;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="travelline" connectionString="Data Source=DEVHASQL;Initial Catalog=travelline_qa1;Network Library=dbmssocn;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="travelline" connectionString="Data Source = tlsql.travelline.wan; Initial Catalog = travelline; Network Library = dbmssocn; Pooling=true;Integrated Security = SSPI; multisubnetfailover=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>